<!doctype html>
<html>
<head>
	<title>Home Page</title>
	<style>
		h1   {font-family: verdana; color: white;}
		p    {font-family: verdana; color: white;}
		input[type=text] 
			 {
			  width: 70%;
  			  padding: 12px 20px;
  		      margin: 8px 0;
  			  box-sizing: border-box;
  			}
  		input[type=submit]{
  			background-color: #07FF89;
			border: none;
			color: #110E2B;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
  		}
}
	</style>
</head> 
	<body style="background-color:#110E2B;">
		</br>
		<h1>Average Playlist Qualities</h1>
		</br>
		<form action="#" method="post">
			<p>Enter Playlist ID:</p>
			<p><input type="text" name="lnk"/></p>
			<p><input type = "submit" value = "Generate Graph!"/></p> 
		</form>
	</body>
</html>
